<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE server PUBLIC
  "-//Penrose/DTD Server ${product.specification}//EN"
  "http://penrose.safehaus.org/dtd/server.dtd">

<server>

  <schema path="schema/apache.schema"/>
  <schema path="schema/apachedns.schema"/>
  <schema path="schema/autofs.schema"/>
  <schema path="schema/changelog.schema"/>
  <schema path="schema/collective.schema"/>
  <schema path="schema/corba.schema"/>
  <schema path="schema/core.schema"/>
  <schema path="schema/cosine.schema"/>
  <schema path="schema/inetorgperson.schema"/>
  <schema path="schema/java.schema"/>
  <schema path="schema/krb5kdc.schema"/>
  <schema path="schema/nis.schema"/>
  <schema path="schema/solaris.schema"/>
  <schema path="schema/system.schema"/>

  <adapter name="JDBC">
    <adapter-class>org.safehaus.penrose.jdbc.adapter.JDBCAdapter</adapter-class>
  </adapter>

  <adapter name="LDAP">
    <adapter-class>org.safehaus.penrose.ldap.adapter.LDAPAdapter</adapter-class>
  </adapter>

  <root>
    <root-dn>uid=admin,ou=system</root-dn>
    <root-password>secret</root-password>
  </root>

</server>
