<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE server PUBLIC
  "-//Penrose/DTD Server ${product.specification}//EN"
  "http://penrose.safehaus.org/dtd/server.dtd">

<server>

  <service name="JMX">
    <service-class>org.safehaus.penrose.management.PenroseJMXService</service-class>
    <parameter>
      <param-name>rmiPort</param-name>
      <param-value>1099</param-value>
    </parameter>
    <parameter>
      <param-name>rmiTransportPort</param-name>
      <param-value>40888</param-value>
    </parameter>
  </service>

  <service name="LDAP">
    <service-class>org.safehaus.penrose.ldap.DefaultLDAPService</service-class>
    <parameter>
      <param-name>ldapPort</param-name>
      <param-value>10389</param-value>
    </parameter> 
    <parameter>
      <param-name>enableLdaps</param-name>
      <param-value>false</param-value>
    </parameter>
    <parameter>
      <param-name>ldapsPort</param-name>
      <param-value>10636</param-value>
    </parameter>
    <parameter>
      <param-name>ldapsCertificateFile</param-name>
      <param-value>conf/penrose.keystore</param-value>
    </parameter>
    <parameter>
      <param-name>ldapsCertificatePassword</param-name>
      <param-value>changeit</param-value>
    </parameter>
    <parameter>
      <param-name>allowAnonymousAccess</param-name>
      <param-value>true</param-value>
    </parameter>
  </service>

  <schema path="schema/autofs.schema"/>
  <schema path="schema/corba.schema"/>
  <schema path="schema/core.schema"/>
  <schema path="schema/cosine.schema"/>
  <schema path="schema/apache.schema"/>
  <schema path="schema/collective.schema"/>
  <schema path="schema/inetorgperson.schema"/>
  <schema path="schema/java.schema"/>
  <schema path="schema/krb5kdc.schema"/>
  <schema path="schema/nis.schema"/>
  <schema path="schema/system.schema"/>
  <schema path="schema/apachedns.schema"/>

  <entry-cache/>

  <source-cache/>

  <engine>
    <engine-name>DEFAULT</engine-name>
    <engine-class>org.safehaus.penrose.engine.DefaultEngine</engine-class>
  </engine>

  <engine>
    <engine-name>PROXY</engine-name>
    <engine-class>org.safehaus.penrose.engine.proxy.ProxyEngine</engine-class>
  </engine>
    
  <connector/>

  <adapter name="JDBC">
    <adapter-class>org.safehaus.penrose.jdbc.JDBCAdapter</adapter-class>
  </adapter>

  <adapter name="LDAP">
    <adapter-class>org.safehaus.penrose.ldap.LDAPAdapter</adapter-class>
  </adapter>

  <partition name="DEFAULT" path="conf"/>

  <root>
    <root-dn>uid=admin,ou=system</root-dn>
    <root-password>secret</root-password>
  </root>

</server>
