<?xml version="1.0" encoding="UTF-8"?>

<server>
  <engine>
    <engine-name>DEFAULT</engine-name>
    <engine-class>org.safehaus.penrose.engine.Engine</engine-class>
    <cache>
      <cache-name>DEFAULT</cache-name>
      <cache-class>org.safehaus.penrose.cache.DefaultEntryCache</cache-class>
    </cache>
  </engine>
  <connector>
    <connector-name>DEFAULT</connector-name>
    <connector-class>org.safehaus.penrose.connector.Connector</connector-class>
    <cache>
      <cache-name>DEFAULT</cache-name>
      <cache-class>org.safehaus.penrose.cache.DefaultSourceCache</cache-class>
    </cache>
  </connector>
  <adapter>
    <adapter-name>JDBC</adapter-name>
    <adapter-class>org.safehaus.penrose.connector.JDBCAdapter</adapter-class>
  </adapter>
  <adapter>
    <adapter-name>JNDI</adapter-name>
    <adapter-class>org.safehaus.penrose.connector.JNDIAdapter</adapter-class>
  </adapter>
  <root>
    <root-dn>uid=admin,ou=system</root-dn>
    <root-password>secret</root-password>
  </root>
</server>
